
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="custom.js">

    <title>ⴰⴷⵎⴰⵔⵙ</title>
    	<!-- 
		- favicon
	-->
	<link rel="shortcut icon" href="./assets/images/radio.png" type="image/x-icon">

  
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
<!-- ***** Logo Start ***** -->
<h1 href="index.html" class="logo">
  <img src="assets/images/radio.png" alt="Chain App Dev">
  <span class="logo-text">ⴰⴷⵎⴰⵔⵙ</span>
</h1>
<!-- ***** Logo End ***** -->

<!-- ***** Menu Start ***** -->
<ul class="nav" data-lang="en">
  <li class="scroll-to-section"><a href="#top" class="active">ⴰⵙⴻⴳⴳⴰⴷ</a></li>
  <li class="scroll-to-section"><a href="#services">ⵉⵙⵏⵏⵉⵙ</a></li>
  <li class="scroll-to-section"><a href="#download">ⵙⵓⵎⵓⵏⴷ</a></li>
  <li class="scroll-to-section"><a href="#features">ⴰⵢⵔⵓⴱ</a></li>
  <li class="scroll-to-section"><a href="#pricing">ⴰⵎⴻⵔⵉⵔ</a></li>
  <li class="scroll-to-section"><a href="#newsletter">ⴰⵏⵎⵓⵔ ⵓⴷ ⵉⴽⵡⴰⵔⵙ</a></li>
</ul>
<br><br>

<details class="dropdown">
  <summary role="button" style="text-align: center;">
    <a class="button">ⵍⴰⵏⴳⵓⴻ</a>
  </summary>
  <ul>
    <li><a href="./en.html">English</a></li>
    <li><a href="./ar.html">العربية</a></li>
    <li><a href="./fr.html">Français</a></li>
</ul>
</details>




              <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
 

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <br><br>
                  <div class="col-lg-12">
                    <h2>ⴱⵄⵄⵙⵜⴻⵣ ⵖⵄⵜⵔⴻ ⵖⵉⵙⵉⴱⵉⵍⵉⵜé ⴰⵖⴻⵛ ⴰⴷⵎⴰⵔⵙ, ⵍⴰ ⵙⵄⵍⵓⵜⵉⵄⵏ ⴷⴻ ⵃⵓⴱⵍⵉⵛⵉⵜé ⵔⴰⴷⵉⵄ ⵉⵏⵏⵄⵖⴰⵏⵜⴻ</h2>
                  </div>
                  <br><br><br>
                  <button id="download-button" class="btn-primary" onclick="location.href='#download'">ⵜéⵍéⵛⵀⴰⵔⴳⴻⵔ ⵎⴰⵉⵏⵜⴻⵏⴰⵏⵜ</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/hero.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>ⴰⵎⴰⵣⵉⵏⴳ <em>ⵚⴻⵔⵖⵉⵛⴻⵙ  ⴼⴻⴰⵜⵓⵔⴻⵙ</em> ⴼⵄⵔ ⵢⵄⵓ</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>ⴰⵃⵃ ⵎⴰⵉⵏⵜⴻⵏⴰⵏⵛⴻ</h4>
            <div class="text-button">
              <a href="#">ⵕⴻⴰⴷ ⵎⵄⵔⴻ <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>ⵕⵄⵛⴽⴻⵜ ⵚⵃⴻⴻⴷ ⵄⴼ ⴰⵃⵃ</h4>
            <div class="text-button">
              <a href="#">ⵕⴻⴰⴷ ⵎⵄⵔⴻ <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>ⵎⵓⵍⵜⵉ ⵡⵄⵔⴽⴼⵍⵄⵡ ⵉⴷⴻⴰ</h4>
            <div class="text-button">
              <a href="#">ⵕⴻⴰⴷ ⵎⵄⵔⴻ <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 ⵃⴻⵍⵃ  ⵚⵓⵃⵃⵄⵔⵜ</h4>
            <div class="text-button">
              <a href="#">ⵕⴻⴰⴷ ⵎⵄⵔⴻ <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="download" id="download">

    <ul class="download-list">

      <li>
        <a class="download-link">
          <span>ⵜéⵍéⵛⵀⴰⵔⴳⴻⵎⴻⵏⵜ ⴳⵔⴰⵜⵓⵉⵜ ⵃⵄⵓⵔ ⵉⵃⵀⵄⵏⴻ</span>
          <br><br>
          <img src="./assets/images/footer-1.png">

        </a>
      </li>

      <li>
        <video src="./assets/images/son.gif" alt="divider image" loop autoplay poster="./assets/images/son.gif"></video>
      </li>

      <li>
        <a class="download-link">
          <span>ⵜéⵍéⵛⵀⴰⵔⴳⴻⵎⴻⵏⵜ ⴳⵔⴰⵜⵓⵉⵜ ⵃⵄⵓⵔ ⴰⵏⴷⵔⵄⵉⴷ</span>
<br><br>
<img src="./assets/images/footer-2.png">
    </a>
      </li>

    </ul>

  </section>

  	<!-- 
				- #FEATURES
			-->
			<section class="features" id="features">

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>ⴰⵃⵃⵍⴻ ⴰⵉⵔⵃⵍⴰⵢ</span>
					  </h3>
					  <p class="features-item-text">
              <span>ⵛⵔéⴻⵣ ⴼⴰⵛⵉⵍⴻⵎⴻⵏⵜ ⴷⴻⵙ ⵛⴰⵎⵃⴰⴳⵏⴻⵙ ⵃⵓⴱⵍⵉⵛⵉⵜⴰⵉⵔⴻⵙ ⵃⴻⵔⵙⵄⵏⵏⴰⵍⵉⵙéⴻⵙ ⵙⴻⵍⵄⵏ ⵖⵄⵙ ⵄⴱⵊⴻⵛⵜⵉⴼⵙ ⴻⵜ ⵖⵄⵜⵔⴻ ⴱⵓⴷⴳⴻⵜ</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>ⵚⵄⵏⵄⵚ ⵡⵉⵔⴻⵍⴻⵙⵙ ⵃⵉⴼⵉ</span>
					  </h3>
					  <p class="features-item-text">
              <span>ⵛⵉⴱⵍⴻⵣ ⵃⵔéⵛⵉⵙéⵎⴻⵏⵜ ⵖⵄⵜⵔⴻ ⴰⵓⴷⵉⴻⵏⵛⴻ ⴻⵏ ⴼⵄⵏⵛⵜⵉⵄⵏ ⴷⴻ ⵍⴰ ⴷéⵎⵄⴳⵔⴰⵃⵀⵉⴻ, ⴷⴻ ⵍ'ⴻⵎⵃⵍⴰⵛⴻⵎⴻⵏⵜ ⴳéⵄⴳⵔⴰⵃⵀⵉⵇⵓⴻ ⴻⵜ ⴷⴻⵙ ⵉⵏⵜéⵔêⵜⵙ</span>
					  </p>
					</li>
				  </ul>
				  

				<figure class="feature-banner">
					<img src="./assets/images/feature-banner-bg.png" alt="circle audio waveform" class="feature-banner-bg">

					<img src="./assets/images/feature-banner.png" alt="pod app" class="banner-img">
				</figure>

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>ⵚⴰⵎⵙⵓⵏⴳ ⵎⵓⵍⵜⵉⵔⵄⵄⵎ</span>
					  </h3>
					  <p class="features-item-text">
              <span>ⵃⵍⴰⵏⵉⴼⵉⴻⵣ ⵍⴻⵙ ⵀⵄⵔⴰⵉⵔⴻⵙ ⴷⴻ ⴷⵉⴼⴼⵓⵙⵉⵄⵏ ⴷⴻ ⵖⵄⵙ ⵃⵓⴱⵍⵉⵛⵉⵜéⵙ ⵃⵄⵓⵔ ⵎⴰⵅⵉⵎⵉⵙⴻⵔ ⵍⴻⵓⵔ ⵉⵎⵃⴰⵛⵜ</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>ⵚⵜⵔⴰⵜéⴳⵉⴻ ⴻⵜ ⴷⴻⵙⵉⴳⵏ</span>
					  </h3>
					  <p class="features-item-text">
              <span>ⵄⴱⵜⴻⵏⴻⵣ ⴷⴻⵙ ⵙⵜⴰⵜⵉⵙⵜⵉⵇⵓⴻⵙ ⴷéⵜⴰⵉⵍⵍéⴻⵙ ⵙⵓⵔ ⵍⴻⵙ ⵃⴻⵔⴼⵄⵔⵎⴰⵏⵛⴻⵙ ⴷⴻ ⵖⵄⵙ ⵛⴰⵎⵃⴰⴳⵏⴻⵙ ⵃⵄⵓⵔ ⵄⵃⵜⵉⵎⵉⵙⴻⵔ ⵖⵄⵜⵔⴻ ⵔⴻⵜⵄⵓⵔ ⵙⵓⵔ ⵉⵏⵖⴻⵙⵜⵉⵙⵙⴻⵎⴻⵏⵜ</span>
					  </p>
					</li>
				  </ul>
				  

			</section>

      <div id="clients" class="the-clients">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="section-heading">
                <h4>ⵖéⵔⵉⴼⵉⴻⵣ ⵛⴻ ⵇⵓⴻ <em>ⵍⴻⵙ ⵛⵍⵉⴻⵏⵜⵙ ⴷⵉⵙⴻⵏⵜ</em> ⴷⴻ ⵏⵄⵜⵔⴻ ⴰⵃⵃⵍⵉⵛⴰⵜⵉⵄⵏ  </h4>
                <img src="assets/images/heading-line-dec.png" alt="">
                <p></p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="naccs">
                <div class="grid">
                  <div class="row">
                    <div class="col-lg-7 align-self-center">
                      <div class="menu">
                        <div class="first-thumb active">
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>ⵃⴰⵎⵉⴷ ⵎⴻⵙⴽⴰⵄⵓⵉ</h4>
                                <span class="date">30 ⵊⵓⵉⵏ 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">ⵕⴻⵙⵃⵄⵏⵙⴰⴱⵍⴻ ⵎⴰⵔⴽⴻⵜⵉⵏⴳ</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.8</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>ⵃⴰⵙⵙⴰⵏ ⴻⵍⵎⴻⵀⴷⵉ</h4>
                                <span class="date">29 ⵎⴰⵔⵙ 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">ⵃⵔⵄⵃⵔⵉéⵜⴰⵉⵔⴻ ⴷⴻ ⴱⵄⵓⵛⵀⴻⵔⵉⴻ ⵃⴰⵢ ⵃⴰⵙⵙⴰⵏⵉ</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.5</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>ⴼⴰⵜⵉⵎⵣⴻⵀⵔⴰ ⴱⴰⴱⴰ</h4>
                                <span class="date">27 ⵎⴰⵉ 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">ⵕⴻⵙⵃⵄⵏⵙⴰⴱⵍⴻ ⴷⴻⵙ ⵖⴻⵏⵜⴻⵙ ⵛⵀⴻⵣ ⴷⴻⴼ ⵚⴻⵔⵖⵉⵛⴻⵙ</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.7</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>ⵉⵍⵉⴰⵙ ⴻⵍⵎⴰⵍⴽⵉ</h4>
                                <span class="date">24 ⵊⴰⵏⵖⵉⴻⵔ 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">ⴷⵉⵔⴻⵛⵜⴻⵓⵔ ⴷⴻ ⵛⵄⵎⵃⵜⴻ ⵛⵀⴻⵣ ⴳⵃⵉ ⴰⴷⵖⴻⵔⵜⵉⵙⵉⵏⴳ ⴰⴳⴻⵏⵛⵢ</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">3.9</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="last-thumb">
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>ⵚⵉ ⴱⵔⴰⵀⵉⵎ</h4>
                                <span class="date">21 ⵏⵄⵖⴻⵎⴱⴻⵔ 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">ⵕⴻⵙⵃⵄⵏⵙⴰⴱⵍⴻ ⴷⴻⵙ ⵄⵃéⵔⴰⵜⵉⵄⵏⵙ ⵛⵀⴻⵣ ⵊⴽⵍ ⴻ-ⵛⵄⵎⵎⴻⵔⵛⴻ</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.3</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="col-lg-5">
                      <ul class="nacc">
                        <li class="active">
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“ⵏⵄⵓⵙ ⴰⵖⵄⵏⵙ ⵓⵜⵉⵍⵉⵙé ⴰⴷⵎⴰⵔⵙ ⵃⵄⵓⵔ ⴷⵉⴼⴼⵓⵙⴻⵔ ⵏⵄⵙ ⵃⵓⴱⵍⵉⵛⵉⵜéⵙ ⵔⴰⴷⵉⵄ ⴻⵜ ⵏⵄⵓⵙ ⴰⵖⵄⵏⵙ éⵜé ⵉⵎⵃⵔⴻⵙⵙⵉⵄⵏⵏéⵙ ⵃⴰⵔ ⵍⴻⵙ ⵔéⵙⵓⵍⵜⴰⵜⵙ. ⵏⵄⵏ ⵙⴻⵓⵍⴻⵎⴻⵏⵜ ⵏⵄⵓⵙ ⴰⵖⵄⵏⵙ ⴰⵜⵜⴻⵉⵏⵜ ⵏⵄⵜⵔⴻ ⵃⵓⴱⵍⵉⵛ ⵛⵉⴱⵍⴻ, ⵎⴰⵉⵙ ⵏⵄⵓⵙ ⴰⵖⵄⵏⵙ éⴳⴰⵍⴻⵎⴻⵏⵜ ⵛⵄⵏⵙⵜⴰⵜé ⵓⵏⴻ ⴰⵓⴳⵎⴻⵏⵜⴰⵜⵉⵄⵏ ⵙⵉⴳⵏⵉⴼⵉⵛⴰⵜⵉⵖⴻ ⴷⵓ ⵜⵔⴰⴼⵉⵛ ⵖⴻⵔⵙ ⵏⵄⵜⵔⴻ ⵙⵉⵜⴻ ⵡⴻⴱ. ⴰⴷⵎⴰⵔⵙ ⴻⵙⵜ ⴷⴻⵖⴻⵏⵓ ⵓⵏ ⵄⵓⵜⵉⵍ ⴻⵙⵙⴻⵏⵜⵉⴻⵍ ⴷⴰⵏⵙ ⵏⵄⵜⵔⴻ ⵙⵜⵔⴰⵜéⴳⵉⴻ ⴷⴻ ⵎⴰⵔⴽⴻⵜⵉⵏⴳ. ⵃⴰⵓⵜⴻⵎⴻⵏⵜ ⵔⴻⵛⵄⵎⵎⴰⵏⴷé ”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Hamid Meskaoui.jpeg" alt="">
                                    <div class="right-content">
                                      <h4>ⵃⴰⵎⵉⴷ ⵎⴻⵙⴽⴰⵄⵓⵉ</h4>
                                      <span>ⵕⴻⵙⵃⵄⵏⵙⴰⴱⵍⴻ ⵎⴰⵔⴽⴻⵜⵉⵏⴳ</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“ⴻⵏ ⵜⴰⵏⵜ ⵇⵓⴻ ⵃⵔⵄⵃⵔⵉéⵜⴰⵉⵔⴻ ⴷ'ⵓⵏⴻ ⵃⴻⵜⵉⵜⴻ ⴻⵏⵜⵔⴻⵃⵔⵉⵙⴻ, ⵊⴻ ⵔⴻⵛⵀⴻⵔⵛⵀⴰⵉⵙ ⵓⵏⴻ ⵙⵄⵍⵓⵜⵉⵄⵏ ⴰⴱⵄⵔⴷⴰⴱⵍⴻ ⵃⵄⵓⵔ ⵃⵔⵄⵎⵄⵓⵖⵄⵉⵔ ⵎⴻⵙ ⵃⵔⵄⴷⵓⵉⵜⵙ ⵍⵄⵛⴰⵍⴻⵎⴻⵏⵜ. ⴳⵔâⵛⴻ à ⴰⴷⵎⴰⵔⵙ, ⵊ'ⴰⵉ ⵃⵓ ⴷⵉⴼⴼⵓⵙⴻⵔ ⴷⴻⵙ ⵃⵓⴱⵍⵉⵛⵉⵜéⵙ ⵔⴰⴷⵉⵄ ⵛⵉⴱⵍéⴻⵙ ⵙⵓⵔ ⴷⴻⵙ ⵙⵜⴰⵜⵉⵄⵏⵙ ⵃⵄⵃⵓⵍⴰⵉⵔⴻⵙ ⴷⴻ ⵎⴰ ⵔéⴳⵉⵄⵏ. ⵛⴻⵍⴰ ⵎ'ⴰ ⵃⴻⵔⵎⵉⵙ ⴷ'ⴰⵓⴳⵎⴻⵏⵜⴻⵔ ⵎⴰ ⵖⵉⵙⵉⴱⵉⵍⵉⵜé ⴻⵜ ⴷ'ⴰⵜⵜⵉⵔⴻⵔ ⴷⴻ ⵏⵄⵓⵖⴻⴰⵓⵅ ⵛⵍⵉⴻⵏⵜⵙ. ⵊⴻ ⵙⵓⵉⵙ ⴻⵅⵜⵔêⵎⴻⵎⴻⵏⵜ ⵙⴰⵜⵉⵙⴼⴰⵉⵜ ⴷⴻⵙ ⵔéⵙⵓⵍⵜⴰⵜⵙ ⵄⴱⵜⴻⵏⵓⵙ”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Hassan Elmehdi.jpeg" alt="">
                                    <div class="right-content">
                                      <h4>ⵃⴰⵙⵙⴰⵏ ⴻⵍⵎⴻⵀⴷⵉ</h4>
                                      <span>ⵃⵔⵄⵃⵔⵉéⵜⴰⵉⵔⴻ ⴷⴻ ⴱⵄⵓⵛⵀⴻⵔⵉⴻ ⵃⴰⵢ ⵃⴰⵙⵙⴰⵏⵉ</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“ⵏⵄⵜⵔⴻ ⴻⵏⵜⵔⴻⵃⵔⵉⵙⴻ ⵛⵀⴻⵔⵛⵀⴰⵉⵜ à ⵜⵄⵓⵛⵀⴻⵔ ⵓⵏ ⵃⵓⴱⵍⵉⵛ ⵙⵃéⵛⵉⴼⵉⵇⵓⴻ ⴷⴰⵏⵙ ⵓⵏⴻ ⵔéⴳⵉⵄⵏ ⵃⴰⵔⵜⵉⵛⵓⵍⵉèⵔⴻ. ⴰⴷⵎⴰⵔⵙ ⵏⵄⵓⵙ ⴰ ⵄⴼⴼⴻⵔⵜ ⵍⴰ ⵃⵄⵙⵙⵉⴱⵉⵍⵉⵜé ⴷⴻ ⵙéⵍⴻⵛⵜⵉⵄⵏⵏⴻⵔ ⵍⴻⵙ ⵙⵜⴰⵜⵉⵄⵏⵙ ⴷⴻ ⵔⴰⴷⵉⵄ ⵍⴻⵙ ⵃⵍⵓⵙ ⵃⴻⵔⵜⵉⵏⴻⵏⵜⴻⵙ ⵃⵄⵓⵔ ⵏⵄⵜⵔⴻ ⴰⵓⴷⵉⴻⵏⵛⴻ ⵛⵉⴱⵍⴻ. ⵍⴻⵙ ⵃⴻⵔⴼⵄⵔⵎⴰⵏⵛⴻⵙ ⴷⴻ ⵏⵄⵙ ⵛⴰⵎⵃⴰⴳⵏⴻⵙ ⵄⵏⵜ ⴷéⵃⴰⵙⵙé ⵏⵄⵙ ⴰⵜⵜⴻⵏⵜⴻⵙ, ⵛⴻ ⵇⵓⵉ ⵏⵄⵓⵙ ⴰ ⵃⴻⵔⵎⵉⵙ ⴷ'éⵍⴰⵔⴳⵉⵔ ⵏⵄⵜⵔⴻ ⴱⴰⵙⴻ ⴷⴻ ⵛⵍⵉⴻⵏⵜⵙ ⴻⵜ ⴷ'ⵄⴱⵜⴻⵏⵉⵔ ⵓⵏ ⵔⴻⵜⵄⵓⵔ ⵙⵓⵔ ⵉⵏⵖⴻⵙⵜⵉⵙⵙⴻⵎⴻⵏⵜ éⵍⴻⵖé.”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Fatimzehra Baba.jpg" alt="">
                                    <div class="right-content">
                                      <h4>ⴼⴰⵜⵉⵎⵣⴻⵀⵔⴰ ⴱⴰⴱⴰ</h4>
                                      <span>ⵕⴻⵙⵃⵄⵏⵙⴰⴱⵍⴻ ⴷⴻⵙ ⵖⴻⵏⵜⴻⵙ ⵛⵀⴻⵣ ⴷⴻⴼ ⵚⴻⵔⵖⵉⵛⴻⵙ</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“ⴻⵏ ⵜⴰⵏⵜ ⵇⵓ'ⴰⴳⴻⵏⵛⴻ ⴷⴻ ⵃⵓⴱⵍⵉⵛⵉⵜé, ⵏⵄⵓⵙ ⴰⵖⵄⵏⵙ ⵜⵔⵄⵓⵖé [ⵏⵄⵎ ⴷⴻ ⵍ'ⴰⵃⵃⵍⵉⵛⴰⵜⵉⵄⵏ] ⴻⵅⵜⵔêⵎⴻⵎⴻⵏⵜ ⵓⵜⵉⵍⴻ ⵃⵄⵓⵔ ⵏⵄⵙ ⵛⵍⵉⴻⵏⵜⵙ. ⵚⴰ ⵃⵍⴰⵜⴻⴼⵄⵔⵎⴻ ⵛⵄⵏⵖⵉⵖⵉⴰⵍⴻ ⴻⵜ ⵙⴻⵙ ⵄⵓⵜⵉⵍⵙ ⴷⴻ ⵛⵉⴱⵍⴰⴳⴻ ⴰⵖⴰⵏⵛéⵙ ⵏⵄⵓⵙ ⵄⵏⵜ ⵃⴻⵔⵎⵉⵙ ⴷⴻ ⵛⵔéⴻⵔ ⴷⴻⵙ ⵛⴰⵎⵃⴰⴳⵏⴻⵙ ⵔⴰⴷⵉⵄ ⵃⴻⵔⵙⵄⵏⵏⴰⵍⵉⵙéⴻⵙ ⴻⵜ ⵃⴻⵔⴼⵄⵔⵎⴰⵏⵜⴻⵙ. ⵏⵄⵓⵙ ⴰⵖⵄⵏⵙ ⵛⵄⵏⵙⵜⴰⵜé ⵓⵏⴻ ⴰⵓⴳⵎⴻⵏⵜⴰⵜⵉⵄⵏ ⵙⵉⴳⵏⵉⴼⵉⵛⴰⵜⵉⵖⴻ ⴷⴻ ⵍ'ⴻⵏⴳⴰⴳⴻⵎⴻⵏⵜ ⴻⵜ ⴷⴻⵙ ⵛⵄⵏⵖⴻⵔⵙⵉⵄⵏⵙ ⵃⵄⵓⵔ ⵏⵄⵙ ⵛⵍⵉⴻⵏⵜⵙ, ⵛⴻ ⵇⵓⵉ ⵔⴻⵏⴼⵄⵔⵛⴻ ⵏⵄⵜⵔⴻ ⵃⴰⵔⵜⴻⵏⴰⵔⵉⴰⵜ ⴰⵖⴻⵛ ⴰⴷⵎⴰⵔⵙ.”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Ilias Elmalki.jpg" alt="">
                                    <div class="right-content">
                                      <h4>ⵉⵍⵉⴰⵙ ⴻⵍⵎⴰⵍⴽⵉ</h4>
                                      <span>ⴷⵉⵔⴻⵛⵜⴻⵓⵔ ⴷⴻ ⵛⵄⵎⵃⵜⴻ ⵛⵀⴻⵣ ⴳⵃⵉ</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“ⵏⵄⵓⵙ éⵜⵉⵄⵏⵙ ⵉⵏⵉⵜⵉⴰⵍⴻⵎⴻⵏⵜ ⵙⵛⴻⵃⵜⵉⵇⵓⴻⵙ ⵇⵓⴰⵏⵜ à ⵍ'ⴻⴼⴼⵉⵛⴰⵛⵉⵜé ⴷⴻ ⵍⴰ ⵃⵓⴱⵍⵉⵛⵉⵜé ⵔⴰⴷⵉⵄ, ⵎⴰⵉⵙ ⴰⴷⵎⴰⵔⵙ ⵏⵄⵓⵙ ⴰ ⵃⵔⵄⵓⵖé ⵍⴻ ⵛⵄⵏⵜⵔⴰⵉⵔⴻ. ⵍⴻⵓⵔ ⴰⵃⵃⵔⵄⵛⵀⴻ ⵛⵉⴱⵍéⴻ ⴻⵜ ⵍⴻⵓⵔⵙ ⵔⴰⵃⵃⵄⵔⵜⵙ ⴷéⵜⴰⵉⵍⵍéⵙ ⵏⵄⵓⵙ ⵄⵏⵜ ⵃⴻⵔⵎⵉⵙ ⴷ'éⵖⴰⵍⵓⴻⵔ ⵃⵔéⵛⵉⵙéⵎⴻⵏⵜ ⵍⴻⵙ ⵃⴻⵔⴼⵄⵔⵎⴰⵏⵛⴻⵙ ⴷⴻ ⵏⵄⵙ ⵛⴰⵎⵃⴰⴳⵏⴻⵙ. ⵍⴻⵙ ⵔéⵙⵓⵍⵜⴰⵜⵙ ⵃⴰⵔⵍⴻⵏⵜ ⴷ'ⴻⵓⵅ-ⵎêⵎⴻⵙ : ⵓⵏⴻ ⴰⵓⴳⵎⴻⵏⵜⴰⵜⵉⵄⵏ ⵙⵉⴳⵏⵉⴼⵉⵛⴰⵜⵉⵖⴻ ⴷⴻⵙ ⵖⴻⵏⵜⴻⵙ ⴻⵜ ⵓⵏⴻ ⵖⵉⵙⵉⴱⵉⵍⵉⵜé ⴰⵛⵛⵔⵓⴻ ⵃⵄⵓⵔ ⵏⵄⵜⵔⴻ ⵎⴰⵔⵇⵓⴻ.”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Si-Brahim.jpg" alt="">
                                    <div class="right-content">
                                      <h4>ⵚⵉ ⴱⵔⴰⵀⵉⵎ</h4>
                                      <span>ⵕⴻⵙⵃⵄⵏⵙⴰⴱⵍⴻ ⴷⴻⵙ ⵄⵃéⵔⴰⵜⵉⵄⵏⵙ ⵛⵀⴻⵣ ⵊⴽⵍ</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>          
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

   <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>ⵏⵄⵓⵙ ⴰⵖⵄⵏⵙ  <em>ⵍⴻⵙ ⵎⴻⵉⵍⵍⴻⵓⵔⵙ ⵃⵔⵉⵅ</em> ⵇⵓⴻ ⵖⵄⵓⵙ ⵃⵄⵓⵖⴻⵣ ⵄⴱⵜⴻⵏⵉⵔ</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">10 500 DHS </span>
            <h4>ⵃⴰⵛⴽ ⵛⵍⴰⵙⵙⵉⵇⵓⴻ</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>ⵃⴰⵛⴽ ⵛⵍⴰⵙⵙⵉⵇⵓⴻ: ⵍⵓⵏⴷⵉ ⴰⵓ ⴷⵉⵎⴰⵏⵛⵀⴻ 7h25/10h25/14h55/17h25/19h10</li>
              <li>1 ⵙⴻⵎⴰⵉⵏⴻ: 35 ⵙⵃⵄⵜⵙ à 10 500 ⴷⵃⵚ ⵃⵜ</li>
              <li>2 ⵙⴻⵎⴰⵉⵏⴻ: 35 ⵙⵃⵄⵜⵙ à 17 500 ⴷⵃⵚ ⵃⵜ</li>
              
            </ul>
            <div class="border-button">
              <a href="#">ⴰⵛⵀⴻⵜⴻⵣ ⵛⴻ ⵃⵍⴰⵏ ⵎⴰⵉⵏⵜⴻⵏⴰⵏⵜ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">7 500 DHS</span>
            <h4>ⵃⴰⵛⴽ ⵚⴰⴱⴰⵀⵢⴰⵜ</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>ⵃⴰⵛⴽ ⵚⴰⴱⴰⵀⵢⴰⵜ: ⵍⵓⵏⴷⵉ ⴰⵓ ⵖⴻⵏⴷⵔⴻⴷⵉ 7h25/8h55/10hh10</li>
              <li>1 ⵙⴻⵎⴰⵉⵏⴻ: 15 ⵙⵃⵄⵜⵙ à 7 500 ⴷⵃⵚ ⵃⵜ</li>
              <li>2 ⵙⴻⵎⴰⵉⵏⴻ: 30 ⵙⵃⵄⵜⵙ à 12 000 ⴷⵃⵚ ⵃⵜ</li>
              
              
            </ul>
            <div class="border-button">
              <a href="#">ⴰⵛⵀⴻⵜⴻⵣ ⵛⴻ ⵃⵍⴰⵏ ⵎⴰⵉⵏⵜⴻⵏⴰⵏⵜ</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">3 000 DHS</span>
            <h4>ⵃⴰⵛⴽ ⵡⴻⴻⴽⴻⵏⴷ</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>ⵃⴰⵛⴽ ⵡⴻⴻⴽⴻⵏⴷ: ⵙⴰⵎⴻⴷⵉ ⴻⵜ ⴷⵉⵎⴰⵏⵛⵀⴻ 14h25/17h55/19H10</li>
              <li>1 ⵡⴻⴻⴽ: 6 ⵙⵃⵄⵜⵙ à 3 000 ⴷⵃⵚ ⵃⵜ</li>
              <li>2 ⵡⴻⴻⴽ: 12 ⵙⵃⵄⵜⵙ à 4 800 ⴷⵃⵚ ⵃⵜ</li>
             
            </ul>
            <div class="border-button">
              <a href="#">ⴰⵛⵀⴻⵜⴻⵣ ⵛⴻ ⵃⵍⴰⵏ ⵎⴰⵉⵏⵜⴻⵏⴰⵏⵜ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row justify-content-center"> <!-- Ajout de la classe 'justify-content-center' pour centrer les éléments -->
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>ⵛⵄⵏⵜⴰⵛⵜ ⵓⵙ</h4>
            <p>30 ⴰⵖⴻⵏⵓⴻ ⴷⴻⵙ ⴼⴰⵕ, ⵛⴰⵙⴰⴱⵍⴰⵏⵛⴰ, ⵎⵄⵔⵄⵛⵛⵄ</p>
            <p><a href="#">05222-26226</a></p>
            <p><a href="#">contact@radiomars.ma</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>ⴰ ⵃⵔⵄⵃⵄⵙ ⴷⴻ ⵏⵄⵓⵙ</h4>
            <div class="logo">
              <img src="assets/images/radio.png" alt="">
            </div>
            <p>ⵕⴰⴷⵉⵄⵎⴰⵕⵚ ⴻⵙⵜ ⵓⵏⴻ ⵙⵜⴰⵜⵉⵄⵏ ⴷⴻ ⵔⴰⴷⵉⵄ ⵎⴰⵔⵄⵛⴰⵉⵏⴻ ⴼⵄⵏⴷéⴻ ⴻⵏ 2009 ⴻⵜ ⴱⴰⵙéⴻ à ⵛⴰⵙⴰⴱⵍⴰⵏⵛⴰ. ⵚⴰ ⵃⵔⵄⴳⵔⴰⵎⵎⴰⵜⵉⵄⵏ ⵙⴻ ⵛⵄⵏⵛⴻⵏⵜⵔⴰⵉⵜ ⵉⵏⵉⵜⵉⴰⵍⴻⵎⴻⵏⵜ à 80 % ⵙⵓⵔ ⵍ'ⵉⵏⴼⵄⵔⵎⴰⵜⵉⵄⵏ ⵙⵃⵄⵔⵜⵉⵖⴻ</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="text-center"> <!-- Ajout de la classe 'text-center' pour centrer le texte -->
            <div class="footer-widget">
              <p>ⵛⵄⵃⵢⵔⵉⴳⵀⵜ © 2023 ⴰⴷⵎⴰⵔⵙ. ⴰⵍⵍ ⵕⵉⴳⵀⵜⵙ ⵕⴻⵙⴻⵔⵖⴻⴷ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
<!-- 
		- #GO TO TOP
	-->
	<a href="#top" class="go-top" data-go-top>
		<ion-icon name="chevron-up"></ion-icon>
	</a>

  <!-- Scripts -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
  <script src="./assets/js/script.js"></script>
</body>
</html>