
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>أدمارس</title>
    	<!-- 
		- favicon
	-->
	<link rel="shortcut icon" href="./assets/images/radio.png" type="image/x-icon">

  
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
<!-- ***** Logo Start ***** -->
<h1 href="index.html" class="logo">
  <img src="assets/images/radio.png" alt="Chain App Dev">
  <span class="logo-text">أدمارس</span>
</h1>
<!-- ***** Logo End ***** -->

<!-- ***** Menu Start ***** -->
<ul class="nav" data-lang="en">
  <li class="scroll-to-section"><a href="#top" class="active">الصفحة الرئيسية</a></li>
  <li class="scroll-to-section"><a href="#services">الخدمات</a></li>
  <li class="scroll-to-section"><a href="#download">تحميل</a></li>
  <li class="scroll-to-section"><a href="#features">حول</a></li>
  <li class="scroll-to-section"><a href="#pricing">التسعير</a></li>
  <li class="scroll-to-section"><a href="#newsletter">النشرة الإخبارية</a></li>
</ul>
<br><br>

<details class="dropdown">
  <summary role="button" style="text-align: center;">
    <a class="button">لغة</a>
  </summary>
  <ul>
    <li><a href="./en.html">English </a></li>
    <li><a href="./fr.html">Français</a></li>
    <li><a href="./amazigh.html">ⴰⵎⴰⵣⵉⵖ</a></li>
</ul>
</details>

              <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
 
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <br><br>
                  <div class="col-lg-12">
                    <h2>عزز ظهورك مع أدمارس ، الحل المبتكر للإعلان على الراديو</h2>
                  </div>
                  <br><br><br>
                  <button id="download-button" class="btn-primary" onclick="location.href='#download'">التحميل الان</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/hero.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4> مذهلة <em> خدمات  ميزات لك </em></h4>
              <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>صيانة التطبيق</h4>
            <div class="text-button">
              <a href="#">اقرأ أكثر<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>سرعة الصاروخ للتطبيق</h4>
            <div class="text-button">
              <a href="#">اقرأ أكثر<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>فكرة سير عمل متعددة</h4>
            <div class="text-button">
              <a href="#">اقرأ أكثر<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 يساعد  يدعم</h4>
            <div class="text-button">
              <a href="#">اقرأ أكثر<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="download" id="download">

    <ul class="download-list">

      <li>
        <a class="download-link">
          <span>تحميل مجاني لأجهزة الآيفون</span>
          <br><br>
          <img src="./assets/images/footer-1.png">

        </a>
      </li>

      <li>
        <video src="./assets/images/son.gif" alt="divider image" loop autoplay poster="./assets/images/son.gif"></video>
      </li>

      <li>
        <a class="download-link">
          <span data-lang="ar" style="display: none;">تحميل مجاني لأجهزة أندرويد</span>
<br><br>
<img src="./assets/images/footer-2.png">
    </a>
      </li>

    </ul>

  </section>

  	<!-- 
				- #FEATURES
			-->
			<section class="features" id="features">

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>آبل إيربلاي</span>
					  </h3>
					  <p class="features-item-text">
						<span>يمكنك بسهولة إنشاء حملات إعلانية مخصصة بناءً على أهدافك وميزانيتك</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span data-lang="en">صوت لاسلكي عالي الوضوح من سونوس</span>
					  </h3>
					  <p class="features-item-text">
						<span>استهدف جمهورك بدقة استنادًا إلى البيانات الديموغرافية والموقع الجغرافي والاهتمامات

              تستطيع استهداف جمهورك بدقة استنادًا إلى البيانات الديموغرافية، الموقع الجغرافي والاهتمامات.
              
              </span>
					  </p>
					</li>
				  </ul>
				  

				<figure class="feature-banner">
					<img src="./assets/images/feature-banner-bg.png" alt="circle audio waveform" class="feature-banner-bg">

					<img src="./assets/images/feature-banner.png" alt="pod app" class="banner-img">
				</figure>

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>سامسونج متعدد الغرف</span>
					  </h3>
					  <p class="features-item-text">
						<span>قم بتخطيط أوقات تسليم إعلانك لتعظيم تأثيرها</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>استراتيجية وتصميم</span>
					  </h3>
					  <p class="features-item-text">
						<span>احصل على إحصائيات مفصلة حول أداء حملاتك لتحسين عائد استثمارك</span>
					  </p>
					</li>
				  </ul>
				  

			</section>
      <div id="clients" class="the-clients">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="section-heading"> 
                <h4>تحقق مما يقوله <em>العملاء</em> حول تطبيقنا</h4>
                <img src="assets/images/heading-line-dec.png" alt="">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="naccs">
                <div class="grid">
                  <div class="row">
                    <div class="col-lg-7 align-self-center">
                      <div class="menu">
                        <div class="first-thumb active">
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>حميد مسكاوي</h4>
                                <span class="date">30 يونيو 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">مدير التسويق</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.8</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>حسن المهدي</h4>
                                <span class="date">29 مارس 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">مالك مطعم بوتشر هاي حساني</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.5</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>فاطمة الزهراء بابا</h4>
                                <span class="date">27 مايو 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">مدير مبيعات في DEF Services</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.7</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>إلياس المالكي</h4>
                                <span class="date">24 يناير 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">مدير حسابات في وكالة GHI للإعلانات</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">3.9</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="last-thumb">
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>سي براهيم</h4>
                                <span class="date">21 نوفمبر 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">مدير العمليات في شركة JKL للتجارة الإلكترونية</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.3</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="col-lg-5">
                      <ul class="nacc">
                        <li class="active">
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>"لقد استخدمنا AdMars لتشغيل إعلانات الراديو الخاصة بنا وكنا معجبين بالنتائج. لم نصل فقط إلى الجمهور المستهدف، بل رأينا أيضًا زيادة كبيرة في حركة المرور إلى موقعنا على الويب. أصبح AdMars أداة أساسية في استراتي جيتنا التسويقية. نوصي به بشدة!"</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Hamid Meskaoui.jpeg" alt="">
                                    <div class="right-content">
                                      <h4>حميد المسكاوي</h4>
                                      <span>مدير التسويق</span>
                                  </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>"بصفتي صاحب عمل صغير، كنت أبحث عن حل ميسور التكلفة للترويج لمنتجاتي محليًا. باستخدام AdMars، تمكنت من تشغيل إعلانات الراديو المستهدفة على الإذاعات الشعبية في منطقتي. هذا سمح لي بزيادة رؤيتي وجذب عملاء جدد. أنا راض جدًا عن النتائج المحققة."</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Hassan Elmehdi.jpeg" alt="">
                                    <div class="right-content">
                                      <h4>حسن المهدي</h4>
                                      <span>مالك محل بوتشر هاي حساني</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>"كانت شركتنا تبحث عن الوصول إلى جمهور محدد في منطقة معينة. أعطانا AdMars القدرة على اختيار أكثر الإذاعات الراديوية ذات الصلة بجمهورنا المستهدف. أداء حملاتنا تجاوز توقعاتنا، مما سمح لنا بتوسيع قاعدة عملائنا وتحقيق عائد عالي على الاستثمار."</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Fatimzehra Baba.jpg" alt="">
                                    <div class="right-content">
                                      <h4>فاطمة الزهراء بابا</h4>
                                      <span>مدير المبيعات في DEF Services</span>
                                  </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                         </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>"باستخدام AdMars، تمكنت من تنفيذ حملات إعلانية موجهة عبر الإذاعة بنجاح. تعاملت مع فريقهم المتميز الذي قدم لي الدعم والتوجيه طوال العملية. رأيت زيادة في وعي العلامة التجارية لشركتنا واستجابة إيجابية من الجمهور المستهدف."</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Ilias Elmalki.jpg" alt="">
                                    <div class="right-content">
                                      <h4>إلياس المالكي</h4>
                                      <span>مدير الحسابات في وكالة GHI للإعلانات</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>"AdMars كان شريكًا قويًا في حملات التسويق لشركتنا. تمكنت من الوصول إلى جمهورنا المستهدف وتعزيز مبيعاتنا بفضل إعلانات الراديو الفعالة. أنا سعيد جدًا بالنتائج التي تحققت وبالتعاون الرائع مع فريقهم المحترف."</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Si-Brahim.jpg" alt="">
                                    <div class="right-content">
                                      <h4>سي براهيم</h4>
                                      <span>مدير العمليات في شركة JKL للتجارة الإلكترونية</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="pricing" class="pricing-tables">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="section-heading">
                <h4>لدينا أفضل <em>أسعار</em> الطلب المسبق التي يمكنك الحصول عليها</h4>
                <img src="assets/images/heading-line-dec.png" alt="">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pricing-item-regular">
                <span class="price">10,500 درهم </span>
                <h4>حزمة كلاسيكية</h4>
                <div class="icon">
                  <img src="assets/images/pricing-table-01.png" alt="">
                </div>
                <ul>
                  <li>حزمة كلاسيكية: من الاثنين إلى الأحد 7:25 / 10:25 / 14:55 / 17:25 / 19:10</li>
                  <li>1 أسبوع: 35 إعلانًا بسعر 10,500 درهم (بدون الضريبة)</li>
                  <li>2 أسبوع: 70 إعلانًا بسعر 17,500 درهم (بدون الضريبة)</li>
                </ul>
                <div class="border-button">
                  <a href="#">شراء هذه الحزمة الآن</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pricing-item-pro">
                <span class="price">7,500 درهم</span>
                <h4>حزمة صباحيات</h4>
                <div class="icon">
                  <img src="assets/images/pricing-table-01.png" alt="">
                </div>
                <ul>
                  <li>حزمة صباحيات: من الاثنين إلى الأحد 7:25 / 8:55 / 10:10</li>
                  <li>1 أسبوع: 15 إعلانًا بسعر 7,500 درهم (بدون الضريبة)</li>
                  <li>2 أسبوع: 30 إعلانًا بسعر 12,000 درهم (بدون الضريبة)</li>
                </ul>
                <div class="border-button">
                  <a href="#">شراء هذه الحزمة الآن</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pricing-item-regular">
                <span class="price">3,000 درهم</span>
                <h4>حزمة عطلة نهاية الأسبوع</h4>
                <div class="icon">
                  <img src="assets/images/pricing-table-01.png" alt="">
                </div>
                <ul>
                  <li>حزمة عطلة نهاية الأسبوع: من الاثنين إلى الأحد 14:25 / 17:55 / 19:10</li>
                  <li>1 أسبوع: 6 إعلانات بسعر 3,000 درهم (بدون الضريبة)</li>
                  <li>2 أسبوع: 12 إعلانًا بسعر 4,800 درهم (بدون الضريبة)</li>
                </ul>
                <div class="border-button">
                  <a href="#">شراء هذه الحزمة الآن</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <footer id="newsletter">
    <div class="container">
      <div class="row justify-content-center"> <!-- Ajout de la classe 'justify-content-center' pour centrer les éléments -->
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>اتصل بنا</h4>
            <p>30 شارع الجيش الملكي ، الدار البيضاء ، المغرب</p>
            <p><a href="#">05222-26226</a></p>
            <p><a href="#">contact@radiomars.ma</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <div class="logo">
              <img src="assets/images/radio.png" alt="">
            </div>
            <p>راديو مارس هو محطة إذاعية مغربية تأسست في عام 2009 ومقرها الرئيسي في الدار البيضاء. كان برنامجها مركزًا في البداية بنسبة 80٪ على معلومات الرياضة.
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="text-center"> <!-- Ajout de la classe 'text-center' pour centrer le texte -->
            <div class="footer-widget">
              <p>حقوق النشر © 2023 أدمارس. جميع الحقوق محفوظة</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- 
		- #GO TO TOP
	-->
	<a href="#top" class="go-top" data-go-top>
		<ion-icon name="chevron-up"></ion-icon>
	</a>

  <!-- Scripts -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
  <script src="./assets/js/script.js"></script>
</body>
</html>