
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>AdMars</title>
    	<!-- 
		- favicon
	-->
	<link rel="shortcut icon" href="./assets/images/radio.png" type="image/x-icon">

  
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
<!-- ***** Logo Start ***** -->
<h1 href="index.html" class="logo">
  <img src="assets/images/radio.png" alt="Chain App Dev">
  <span class="logo-text">AdMars</span>
</h1>
<!-- ***** Logo End ***** -->

<!-- ***** Menu Start ***** -->
<ul class="nav">
  <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
  <li class="scroll-to-section"><a href="#services">Services</a></li>
  <li class="scroll-to-section"><a href="#download">Download</a></li>
  <li class="scroll-to-section"><a href="#features">About</a></li>
  <li class="scroll-to-section"><a href="#pricing">Pricing</a></li>
  <li class="scroll-to-section"><a href="#newsletter">Newsletter</a></li>
</ul>
<br><br>

<details class="dropdown">
  <summary role="button" style="text-align: center;">
    <a class="button">Langue</a>
  </summary>
  <ul>
    <li><a href="./fr.html">Français</a></li>
    <li><a href="./ar.html">العربية</a></li>
    <li><a href="./amazigh.html">ⴰⵎⴰⵣⵉⵖ</a></li>
</ul>
</details>





              <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
 

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <br><br>
                  <div class="col-lg-12">
                    <h2>Boost your visibility with AdMars, the innovative radio advertising solution</h2>
                  </div>
                  <br><br><br>
                  <button id="download-button" class="btn-primary" onclick="location.href='#download'">Download now</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/hero.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing <em>Services &amp; Features</em> for you</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>App Maintenance</h4>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Rocket Speed of App</h4>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Multi Workflow Idea</h4>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 Help &amp; Support</h4>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="download" id="download">

    <ul class="download-list">

      <li>
        <a class="download-link">
          <span>Free download for iPhone</span>
          <br><br>
          <img src="./assets/images/footer-1.png">

        </a>
      </li>

      <li>
        <video src="./assets/images/son.gif" alt="divider image" loop autoplay poster="./assets/images/son.gif"></video>
      </li>

      <li>
        <a class="download-link">
          <span>Free download for Android</span>
<br><br>
<img src="./assets/images/footer-2.png">
    </a>
      </li>

    </ul>

  </section>

  	<!-- 
				- #FEATURES
			-->
			<section class="features" id="features">

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>Apple AirPlay</span>
					  </h3>
					  <p class="features-item-text">
						<span>Easily create personalized ad campaigns based on your goals and budget.</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>SONOS Wireless HiFi</span>
					  </h3>
					  <p class="features-item-text">
						<span>Precisely target your audience based on demographics, geographic location, and interests</span>
					  </p>
					</li>
				  </ul>
				  

				<figure class="feature-banner">
					<img src="./assets/images/feature-banner-bg.png" alt="circle audio waveform" class="feature-banner-bg">

					<img src="./assets/images/feature-banner.png" alt="pod app" class="banner-img">
				</figure>

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>Samsung Multiroom</span>
					  </h3>
					  <p class="features-item-text">
						<span>Plan your ad delivery times to maximize their impact</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>Strategy & Design</span>
					  </h3>
					  <p class="features-item-text">
						<span>Get detailed statistics on the performance of your campaigns to optimize your return on investment</span>
					  </p>
					</li>
				  </ul>
				  

			</section>

  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading"> 
            <h4>Check What <em>The Clients Say</em> About Our Application</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-7 align-self-center">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Hamid Meskaoui</h4>
                            <span class="date">30 Juin 2023</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Marketing Manager</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.8</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Hassan Elmehdi</h4>
                            <span class="date">29 Mars 2023</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Owner of Butcher Hay Hassani</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.5</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Fatimzehra Baba</h4>
                            <span class="date">27 Mai 2023</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Sales Manager at DEF Services</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Ilias Elmalki</h4>
                            <span class="date">24 Janvier 2023</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Account Manager at GHI Advertising Agency</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">3.9</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Si Brahim</h4>
                            <span class="date">21 November 2023</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Operations Manager at JKL E-commerce.</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“We used AdMars to run our radio ads and were impressed with the results. Not only did we reach our target audience, but we also saw a significant increase in traffic to our website. AdMars has become an essential tool in our marketing strategy. Highly recommended!”</p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/Hamid Meskaoui.jpeg" alt="">
                                <div class="right-content">
                                  <h4>Hamid Meskaoui</h4>
                                  <span>Responsable marketing</span>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“As a small business owner, I was looking for an affordable solution to promote my products locally. Using AdMars, I was able to run targeted radio ads on popular stations in my area. This allowed me to increase my visibility and attract new customers. I am extremely satisfied with the results obtained.”
                                </p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/Hassan Elmehdi.jpeg" alt="">
                                <div class="right-content">
                                  <h4>Hassan Elmehdi</h4>
                                  <span>Propriétaire de Boucherie Hay Hassani</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“Our business was looking to reach a specific audience in a particular region. AdMars gave us the ability to select the most relevant radio stations for our target audience. The performance of our campaigns exceeded our expectations, which allowed us to expand our client base and achieve a high return on investment.”
                                </p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/Fatimzehra Baba.jpg" alt="">
                                <div class="right-content">
                                  <h4>Fatimzehra Baba.</h4>
                                  <span>Responsable des ventes chez DEF Services</span>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“As an advertising agency, we have found [App Name] extremely useful for our clients. Its user-friendly platform and advanced targeting tools allowed us to create personalized and effective radio campaigns. We have seen a significant increase in engagement and conversions for our clients, which strengthens our partnership with AdMars.”
                                </p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/Ilias Elmalki.jpg" alt="">
                                <div class="right-content">
                                  <h4>Ilias Elmalki</h4>
                                  <span>Directeur de compte chez GHI</span>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="assets/images/quote.png" alt="">
                                <p>“We were initially skeptical about the effectiveness of radio advertising, but AdMars proved us wrong. Their targeted approach and detailed reports allowed us to accurately assess the performance of our campaigns. The results speak for themselves: a significant increase in sales and increased visibility for our brand.”
                                </p>
                              </div>
                              <div class="down-content">
                                <img src="assets/images/Si-Brahim.jpg" alt="">
                                <div class="right-content">
                                  <h4>Si Brahim</h4>
                                  <span>Responsable des opérations chez JKL</span>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We Have The Best Pre-Order <em>Prices</em> You Can Get</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">10 500 DHS </span>
            <h4>Classic Pack</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>Classic Pack: Monday to Sunday 7h25/10h25/14h55/17h25/19h10</li>
              <li>1 week: 35 spots à 10 500 DHS HT</li>
              <li>2 week: 70 spots à 17 500 DHS HT</li>
              
            </ul>
            <div class="border-button">
              <a href="#">Buy this plan now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">7 500 DHS</span>
            <h4>Sabahyat Pack</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>Sabahyat Pack: Monday to Sunday 7h25/8h55/10hh10</li>
              <li>1 week: 15 spots à 7 500 DHS HT</li>
              <li>2 week: 30 spots à 12 000 DHS HT</li>
              
            </ul>
            <div class="border-button">
              <a href="#">Buy this plan now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">3 000 DHS</span>
            <h4>Weekend Pack</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>Weekend Pack: Monday to Sunday 14h25/17h55/19H10</li>
              <li>1 week: 6 spots à 3 000 DHS HT</li>
              <li>2 week: 12 spots à 4 800 DHS HT</li>
             
            </ul>
            <div class="border-button">
              <a href="#">Buy this plan now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row justify-content-center"> <!-- Ajout de la classe 'justify-content-center' pour centrer les éléments -->
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>30 avenue des FAR, Casablanca, Morocco</p>
            <p><a href="#">05222-26226</a></p>
            <p><a href="#">contact@radiomars.ma</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <div class="logo">
              <img src="assets/images/radio.png" alt="">
            </div>
            <p>RADIOMARS is a Moroccan radio station founded in 2009 and based in Casablanca. Its programming initially focused 80% on sports information
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="text-center"> <!-- Ajout de la classe 'text-center' pour centrer le texte -->
            <div class="footer-widget">
              <p>Copyright © 2023 AdMars. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

<!-- 
		- #GO TO TOP
	-->
	<a href="#top" class="go-top" data-go-top>
		<ion-icon name="chevron-up"></ion-icon>
	</a>

  <!-- Scripts -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
  <script src="./assets/js/script.js"></script>
  <style>
    iframe{
      z-index: 100 !important;
    }

  </style>
</body>
</html>