
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>AdMars</title>
    	<!-- 
		- favicon
	-->
	<link rel="shortcut icon" href="./assets/images/radio.png" type="image/x-icon">

  
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
<!-- ***** Logo Start ***** -->
<h1 href="index.html" class="logo">
  <img src="assets/images/radio.png" alt="Chain App Dev">
  <span class="logo-text">AdMars</span>
</h1>
<!-- ***** Logo End ***** -->

<!-- ***** Menu Start ***** -->
<ul class="nav">
  <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
  <li class="scroll-to-section"><a href="#services">Services</a></li>
  <li class="scroll-to-section"><a href="#download">Télécharger</a></li>
  <li class="scroll-to-section"><a href="#features">À propos</a></li>
  <li class="scroll-to-section"><a href="#pricing">Tarification</a></li>
  <li class="scroll-to-section"><a href="#newsletter">Bulletin d'information</a></li>
</ul>
<br><br>

<details class="dropdown">
  <summary role="button" style="text-align: center;">
    <a class="button">Langue</a>
  </summary>
  <ul>
    <li><a href="./en.html">English</a></li>
    <li><a href="./ar.html">العربية</a></li>
    <li><a href="./amazigh.html">ⴰⵎⴰⵣⵉⵖ</a></li>
</details>



              <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
 

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <br><br>
                  <div class="col-lg-12">
                    <h2>Boostez votre visibilité avec AdMars, la solution de publicité radio innovante.</h2>
                  </div>
                  <br><br><br>
                  <button id="download-button" class="btn-primary" onclick="location.href='#download'">Télécharger maintenant</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/hero.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Incroyables <em>services et Fonctionnalités</em> pour vous</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Maintenance de l'application</h4>
            <div class="text-button">
              <a href="#">En savoir plus<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Vitesse fulgurante de l'application</h4>
            <div class="text-button">
              <a href="#">En savoir plus<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Idée de flux de travail multiple</h4>
            <div class="text-button">
              <a href="#">En savoir plus<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Aide et Assistance 24/7</h4>
            <div class="text-button">
              <a href="#">En savoir plus<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="download" id="download">

    <ul class="download-list">

      <li>
        <a class="download-link">
          <span>Téléchargement gratuit pour iPhone</span>
          <br><br>
          <img src="./assets/images/footer-1.png">

        </a>
      </li>

      <li>
        <video src="./assets/images/son.gif" alt="divider image" loop autoplay poster="./assets/images/son.gif"></video>
      </li>

      <li>
        <a class="download-link">
          <span>Téléchargement gratuit pour Android</span>
<br><br>
<img src="./assets/images/footer-2.png">
    </a>
      </li>

    </ul>

  </section>

  	<!-- 
				- #FEATURES
			-->
			<section class="features" id="features">

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>Apple AirPlay</span>
					  </h3>
					  <p class="features-item-text">
              <span>Créez facilement des campagnes publicitaires personnalisées selon vos objectifs et votre budget</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span data-lang="en">SONOS Wireless HiFi</span>
						<span>SONOS Wireless HiFi</span>
					  </h3>
					  <p class="features-item-text">
              <span>Ciblez précisément votre audience en fonction de la démographie, de l'emplacement géographique et des intérêts</span>
					  </p>
					</li>
				  </ul>
				  

				<figure class="feature-banner">
					<img src="./assets/images/feature-banner-bg.png" alt="circle audio waveform" class="feature-banner-bg">

					<img src="./assets/images/feature-banner.png" alt="pod app" class="banner-img">
				</figure>

				<ul class="features-list">
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>Samsung Multiroom</span>
					  </h3>
					  <p class="features-item-text">
              <span>Planifiez les horaires de diffusion de vos publicités pour maximiser leur impact</span>
					  </p>
					</li>
					<li class="features-item">
					  <h3 class="h3 features-item-title">
						<span>Stratégie et Design</span>
					  </h3>
					  <p class="features-item-text">
              <span>Obtenez des statistiques détaillées sur les performances de vos campagnes pour optimiser votre retour sur investissement</span>
					  </p>
					</li>
				  </ul>
				  

			</section>

      <div id="clients" class="the-clients">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="section-heading">
                <h4>Vérifiez ce que <em>les clients disent</em> de notre application  </h4>
                <img src="assets/images/heading-line-dec.png" alt="">
                <p></p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="naccs">
                <div class="grid">
                  <div class="row">
                    <div class="col-lg-7 align-self-center">
                      <div class="menu">
                        <div class="first-thumb active">
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>Hamid Meskaoui</h4>
                                <span class="date">30 Juin 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">Responsable marketing</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.8</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>Hassan Elmehdi</h4>
                                <span class="date">29 Mars 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">Propriétaire de Boucherie Hay Hassani</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.5</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>Fatimzehra Baba</h4>
                                <span class="date">27 Mai 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">Responsable des ventes chez DEF Services</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.7</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>Ilias Elmalki</h4>
                                <span class="date">24 Janvier 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">Directeur de compte chez GHI Advertising Agency</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">3.9</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="last-thumb">
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-4 col-sm-4 col-12">
                                <h4>Si Brahim</h4>
                                <span class="date">21 November 2023</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                <span class="category">Responsable des opérations chez JKL E-commerce.</span>
                              </div>
                              <div class="col-lg-4 col-sm-4 col-12">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <span class="rating">4.3</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="col-lg-5">
                      <ul class="nacc">
                        <li class="active">
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“Nous avons utilisé AdMars pour diffuser nos publicités radio et nous avons été impressionnés par les résultats. Non seulement nous avons atteint notre public cible, mais nous avons également constaté une augmentation significative du trafic vers notre site web. AdMars est devenu un outil essentiel dans notre stratégie de marketing. Hautement recommandé !”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Hamid Meskaoui.jpeg" alt="">
                                    <div class="right-content">
                                      <h4>Hamid Meskaoui</h4>
                                      <span>Responsable marketing</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“En tant que propriétaire d'une petite entreprise, je recherchais une solution abordable pour promouvoir mes produits localement. Grâce à AdMars, j'ai pu diffuser des publicités radio ciblées sur des stations populaires de ma région. Cela m'a permis d'augmenter ma visibilité et d'attirer de nouveaux clients. Je suis extrêmement satisfait des résultats obtenus.”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Hassan Elmehdi.jpeg" alt="">
                                    <div class="right-content">
                                      <h4>Hassan Elmehdi</h4>
                                      <span>Propriétaire de Boucherie Hay Hassani</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“Notre entreprise cherchait à toucher un public spécifique dans une région particulière. AdMars nous a offert la possibilité de sélectionner les stations de radio les plus pertinentes pour notre audience cible. Les performances de nos campagnes ont dépassé nos attentes, ce qui nous a permis d'élargir notre base de clients et d'obtenir un retour sur investissement élevé.”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Fatimzehra Baba.jpg" alt="">
                                    <div class="right-content">
                                      <h4>Fatimzehra Baba.</h4>
                                      <span>Responsable des ventes chez DEF Services</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“En tant qu'agence de publicité, nous avons trouvé [Nom de l'application] extrêmement utile pour nos clients. Sa plateforme conviviale et ses outils de ciblage avancés nous ont permis de créer des campagnes radio personnalisées et performantes. Nous avons constaté une augmentation significative de l'engagement et des conversions pour nos clients, ce qui renforce notre partenariat avec AdMars.”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Ilias Elmalki.jpg" alt="">
                                    <div class="right-content">
                                      <h4>Ilias Elmalki</h4>
                                      <span>Directeur de compte chez GHI</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="client-content">
                                    <img src="assets/images/quote.png" alt="">
                                    <p>“Nous étions initialement sceptiques quant à l'efficacité de la publicité radio, mais AdMars nous a prouvé le contraire. Leur approche ciblée et leurs rapports détaillés nous ont permis d'évaluer précisément les performances de nos campagnes. Les résultats parlent d'eux-mêmes : une augmentation significative des ventes et une visibilité accrue pour notre marque.”</p>
                                  </div>
                                  <div class="down-content">
                                    <img src="assets/images/Si-Brahim.jpg" alt="">
                                    <div class="right-content">
                                      <h4>Si Brahim</h4>
                                      <span>Responsable des opérations chez JKL</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>          
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

   <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Nous avons  <em>les meilleurs prix</em> que vous pouvez obtenir</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">10 500 DHS </span>
            <h4>Pack Classique</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>Pack Classique: lundi au dimanche 7h25/10h25/14h55/17h25/19h10</li>
              <li>1 semaine: 35 spots à 10 500 DHS HT</li>
              <li>2 semaine: 70 spots à 17 500 DHS HT</li>
              
            </ul>
            <div class="border-button">
              <a href="#">Achetez ce plan maintenant</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">7 500 DHS</span>
            <h4>Pack Sabahyat</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>Pack Sabahyat: lundi au vendredi 7h25/8h55/10hh10</li>
              <li>1 semaine: 15 spots à 7 500 DHS HT</li>
              <li>2 semaine: 30 spots à 12 000 DHS HT</li>
              
            </ul>
            <div class="border-button">
              <a href="#">Achetez ce plan maintenant</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">3 000 DHS</span>
            <h4>Pack Weekend</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="">
            </div>
            <ul>
              <li>Pack Weekend: samedi et dimanche 14h25/17h55/19H10</li>
              <li>1 WE: 6 spots à 3 000 DHS HT</li>
              <li>2 WE: 12 spots à 4 800 DHS HT</li>
             
            </ul>
            <div class="border-button">
              <a href="#">Achetez ce plan maintenant</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row justify-content-center"> <!-- Ajout de la classe 'justify-content-center' pour centrer les éléments -->
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contactez Nous</h4>
            <p>30 avenue des FAR, Casablanca, Morocco</p>
            <p><a href="#">05222-26226</a></p>
            <p><a href="#">contact@radiomars.ma</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>A propos de Nous</h4>
            <div class="logo">
              <img src="assets/images/radio.png" alt="">
            </div>
            <p>RADIOMARS est une station de radio marocaine fondée en 2009 et basée à Casablanca. Sa programmation se concentrait initialement à 80 % sur l'information sportive</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="text-center"> <!-- Ajout de la classe 'text-center' pour centrer le texte -->
            <div class="footer-widget">
              <p>Copyright © 2023 AdMars. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
<!-- 
		- #GO TO TOP
	-->
	<a href="#top" class="go-top" data-go-top>
		<ion-icon name="chevron-up"></ion-icon>
	</a>

  <!-- Scripts -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
  <script src="./assets/js/script.js"></script>
</body>
</html>